<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    bean 태그의 클래스 속성은 인터페이스 타입이 아닌 실제 구현체 클래스 타입으로 작성해야 한다.  -->
    <bean id="account" class="com.ohgiraffers.common.PersonalAccount">
        <constructor-arg index="0" value="10"/>
        <constructor-arg index="1" value="943202-00-834058"/>
    </bean>

    <!-- 생성자를 통한 주입 -->
<!--    <bean id="member" class="com.ohgiraffers.common.MemberDTO">-->
<!--        <constructor-arg name="sequence" value="1"/>-->
<!--        <constructor-arg name="name" value="김윤재"/>-->
<!--        <constructor-arg name="phone" value="010-1234-1234"/>-->
<!--        <constructor-arg name="email" value="yoonjae123@gmail.com"/>-->
<!--        <constructor-arg name="personalAccount">-->
<!--            <ref bean="account"/>-->
<!--        </constructor-arg>-->
<!--    </bean>-->
<!--    setter 주입 -->
        <bean id="member" class="com.ohgiraffers.common.MemberDTO">
            <property name="sequence" value="1"/>
            <property name="name" value="김윤재"/>
            <property name="phone" value="010-1234-1234"/>
            <property name="email" value="yoonjae12@gmail.com"/>
            <property name="personalAccount" ref="account"/>
        </bean>
</beans>