<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="carpBread" class="com.ohgiraffers.common.Bread">
        <constructor-arg name="name" value="붕어빵"/>
        <constructor-arg name="price" value="1000"/>
        <constructor-arg name="bakedDate" ref="today"/>
    </bean>
    <bean id="today" class="java.util.Date" scope="prototype"/>
    <bean id="milk" class="com.ohgiraffers.common.Beverage">
        <constructor-arg name="name" value="딸기우유"/>
        <constructor-arg name="price" value="1200"/>
        <constructor-arg name="capacity" value="500"/>
    </bean>
    <bean id="water" class="com.ohgiraffers.common.Beverage">
        <constructor-arg name="name" value="삼다수"/>
        <constructor-arg name="price" value="50000"/>
        <constructor-arg name="capacity" value="500"/>
    </bean>
    <bean id="cart" class="com.ohgiraffers.common.ShoppingCart" scope="prototype"/>

    <bean id="owner" class="com.ohgiraffers.section02.initdestroy.subsection03.xml.Owner" init-method="openShop" destroy-method="closeShop"/>
</beans>